<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>groundDirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{808,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,71}}</string>
                <key>sourceSize</key>
                <string>{808,71}</string>
            </dict>
            <key>medalBronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1262},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>medalGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1214},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>medalSilver.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1280},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>planeBlue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeBlue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeBlue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeRed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,993},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeRed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeRed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1143},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>puffLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1243},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>puffSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1323},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,381}}</string>
                <key>sourceSize</key>
                <string>{173,381}</string>
            </dict>
            <key>rockDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{173,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,381}}</string>
                <key>sourceSize</key>
                <string>{173,381}</string>
            </dict>
            <key>starGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1273},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1273},{41,41}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{41,41}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>tapLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{85,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,42}}</string>
                <key>sourceSize</key>
                <string>{85,42}</string>
            </dict>
            <key>tapRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1262},{85,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,42}}</string>
                <key>sourceSize</key>
                <string>{85,42}</string>
            </dict>
            <key>tapTick.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1182},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>textGameOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,768},{412,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,78}}</string>
                <key>sourceSize</key>
                <string>{412,78}</string>
            </dict>
            <key>textGetReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,812},{400,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,73}}</string>
                <key>sourceSize</key>
                <string>{400,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ControllerSceneSprite.png</string>
            <key>size</key>
            <string>{250,1353}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a2be4f04b6d5a1d0fa2ffa1e9a5baad:ce969941e65d2b27cc91e856ca95ad9a:2968490c519b254f366869cff944f4a9$</string>
            <key>textureFileName</key>
            <string>ControllerSceneSprite.png</string>
        </dict>
    </dict>
</plist>
