<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{345,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,136}}</string>
                <key>sourceSize</key>
                <string>{345,136}</string>
            </dict>
            <key>playOffBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,140},{236,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,55}}</string>
                <key>sourceSize</key>
                <string>{236,55}</string>
            </dict>
            <key>playOnBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,70}}</string>
                <key>sourceSize</key>
                <string>{236,70}</string>
            </dict>
            <key>settingsOffBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,197},{236,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,55}}</string>
                <key>sourceSize</key>
                <string>{236,55}</string>
            </dict>
            <key>settingsOnBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{236,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,70}}</string>
                <key>sourceSize</key>
                <string>{236,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MenuSceneSprite.png</string>
            <key>size</key>
            <string>{493,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:752651c5a8c7ad9397e581301121020f:708d287d2066a15b022c5bd4e4f8cde7:a77817cfc85836477fe41b1e3d9eb5d3$</string>
            <key>textureFileName</key>
            <string>MenuSceneSprite.png</string>
        </dict>
    </dict>
</plist>
